@model blog_template_practice.Models.Category
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Style/DetailsSheet.css" />
    <link href="~/Style/DetailsSheet.css" rel="stylesheet" />
    <title>Details</title>
</head>
<body>

    @foreach (var content in Model.Contents)
    {
        <article>Name @content.Category.Name</article>
        <article>>Title @content.Title</article>
        <article>Body remove after css edit @content.Body</article>
        <article>Author @content.Author</article>
        <article> publish date @content.PublishDate</article>

        <a href="/Content/Create">create content</a>
        <a href="/Content/Update/@content.Id">update content</a>
        <a href="/Content/Delete/@content.Id">delete content</a>
        <a href="/Category/Index"> Return to Categories</a>
    }

</body>
</html>
